@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital@0;1&display=swap');

body {
  padding: 0;
  margin: 0;
  transition: background-color 0.3s;
  font-family: 'Playfair'
}

.content {
  color: white;
  width: 50%;
  margin: 0px auto 0px 60%;
  padding: 20px 70px;
  position: relative;
  z-index: 99999;
  font-smooth: auto;
}

.content h2 {
  font-size: 100px;
  margin: 0;
  font-family: 'Anton'
}

.content p {
  font-size: 18px;
}

.canvas {
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.95;
}

.canvas-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
}

.divider {
  background: white;
  height: 2px;
  margin: 20px 0 30px;
  width:25%;
}

.section {
  width: 100%;
  padding: 20px 0px;
  margin: 0;
  display: flex;
  align-items: flex-end;
}
